#aboutcontainer {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
}

#title {
  font-size: 2rem;
}

#desc {
  font-size: 1.2rem;
  margin-top: 0rem;
}

@media screen and (min-width: 1024px) {
  #aboutcontainer {
    min-width: 33%;
    padding: 0rem 0rem 0rem 2rem;
  }

  #desc {
    font-size: 1.5rem;
  }
}
