#footerrow {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerText {
  font-family: Courier Prime;
  font-weight: 400;
}

.footerText:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  #footerrow {
    margin-top: 3rem;
  }

  .row {
    display: flex;
    flex-direction: row;
  }
}
