html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.titleFont {
  font-family: Courier Prime;
  font-weight: 700;
  line-height: 2rem;
}

.descFont {
  font-family: Courier Prime;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .titleFont {
    font-family: Courier Prime;
    font-weight: 700;
    line-height: 2.5rem;
  }

  .descFont {
    font-family: Courier Prime;
    font-weight: 400;
  }
}
