.container {
  padding: 0rem 3rem;
}

#maincontainer {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  #maincontainer {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    height: 40vw;
  }
}
