.container {
  padding: 0rem 3rem;
}

#maincontainer {
  display: flex;
  flex-direction: column;
  height: 100vw;
}

@media screen and (min-width: 1024px) {
  #maincontainer {
    display: flex;
    flex-direction: row;
    height: 50vw;
  }
}
