#infocontainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: black;
  align-items: center;
  justify-content: center;
}

#titleRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: flex-start;
}

.statsContainer {
  margin-left: 0rem;
  padding-bottom: 1rem;
}

.allInfos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statsrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -2rem;
}

.infoRow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottleTitle {
  font-family: Courier Prime;
  font-weight: 400;
  font-size: 1rem;
  margin-left: auto;
  color: white;
  margin-right: 1rem;
}

.bottleTitleLight {
  font-family: Courier Prime;
  font-weight: 400;
  font-size: 1rem;
  margin-left: auto;
  color: white;
  margin-right: 1rem;
  font-weight: 700;
}

.smallerText {
  font-family: Courier Prime;
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: auto;
  color: white;
}

.smallerText:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  #infocontainer {
    display: flex;
    flex-direction: row;
    background-color: black;
    min-width: 67%;
  }

  .bottleTitle {
    font-family: Courier Prime;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: auto;
    color: white;
    margin-right: 1rem;
  }

  .bottleTitleLight {
    font-family: Courier Prime;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: auto;
    color: white;
    margin-right: 1rem;
    font-weight: 700;
  }

  .smallerText {
    font-family: Courier Prime;
    font-weight: 400;
    font-size: 1rem;
    margin-left: auto;
    color: white;
  }

  .infoRow {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .statsrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -2.2rem;
  }

  .statsContainer {
    margin-left: 3rem;
    padding-bottom: 0rem;
  }
}
