#infocontainer {
  display: flex;
  flex-direction: column;
  background-color: green;
}

@media screen and (min-width: 1024px) {
  #infocontainer {
    display: flex;
    flex-direction: row;
    background-color: green;
    min-width: 67%;
  }
}
