#infocontainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: black;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  #infocontainer {
    display: flex;
    flex-direction: row;
    background-color: black;
    min-width: 67%;
  }
}
