#infocontainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: black;
  align-items: center;
  justify-content: center;
}

#titleRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: flex-start;
}

.allInfos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottleTitle {
  font-family: Courier Prime;
  font-weight: 400;
  font-size: 1rem;
  margin-left: auto;
  color: white;
  margin-right: 1rem;
}

.bottleTitleLight {
  font-family: Courier Prime;
  font-weight: 400;
  font-size: 1rem;
  margin-left: auto;
  color: white;
  margin-right: 1rem;
  font-weight: 700;
}

.smallerText {
  font-family: Courier Prime;
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: auto;
  color: white;
}

@media screen and (min-width: 1024px) {
  #infocontainer {
    display: flex;
    flex-direction: row;
    background-color: black;
    min-width: 67%;
  }

  .bottleTitle {
    font-family: Courier Prime;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: auto;
    color: white;
    margin-right: 1rem;
  }

  .bottleTitleLight {
    font-family: Courier Prime;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: auto;
    color: white;
    margin-right: 1rem;
    font-weight: 700;
  }

  .smallerText {
    font-family: Courier Prime;
    font-weight: 400;
    font-size: 1rem;
    margin-left: auto;
    color: white;
  }
}
